*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #3f3f3e;
    --secundary-color:powderblue ;
    --background-color:#F5F5F5;
    --shadow-color:#00000055;
    --boxshadow-color: black;
    --text-color: ghostwhite;
    --icon-color:ghostwhite;
    --buttonblue-color: rgb(79, 144, 197);
    --buttongreen-color: rgb(0,128,0);
    --buttonred-color: firebrick;
    --buttonyellow-color: goldenrod;
    --tab-color: rgb(61, 108, 146);
    --tabchecked-color: rgb(79, 144, 197);
    --checkbox-color: darkturquoise;
    --buttonhover-color: deepskyblue;
}



body{
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'karla', sans-serif;
    position:relative;
}

header{
    background-color: var(--primary-color);
    height: 70px;
    text-align: center;
    line-height: 70px;
    box-shadow: 0 1px 2px var(--shadow-color);
}

.header-title{
    color: var(--text-color);
    font-size: 2rem;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 5vh auto;
    padding: 50px;
    box-shadow: 2px 2px 10px var(--shadow-color);
    gap: 20px;
}

footer{
    width:100;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    padding: 20px;
}

@media (max-width:480px){
    header{
        position:fixed;
        width:100%;
    }
    .header-title{
        font-size: 1.5rem;
    }

    main{
        padding: 0;
        margin: 20px 0 0 0;
        width:100%;
        box-shadow: none;
    }
}